<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <loops>
        <loop name="databases.manager.config.loop" class="DatabasesManager\Loop\ConfigurationLoop" />
    </loops>

    <forms>
        <form name="databases.manager.form.add" class="DatabasesManager\Form\AddForm" />
        <form name="databases.manager.form.edit" class="DatabasesManager\Form\EditForm" />
    </forms>

    <services>
        <service id="databases.manager.config.handler" class="DatabasesManager\Handler\ConfigurationHandler" />
        <service id="databases.manager.event.subscriber" class="DatabasesManager\EventListener\Subscriber">
            <argument type="service" id="databases.manager.config.handler"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

    <commands>
        <command class="DatabasesManager\Command\GenerateModelCommand" />
        <command class="DatabasesManager\Command\GenerateSqlCommand" />
        <command class="DatabasesManager\Command\SchemaRecoveryCommand" />
    </commands>
</config>
