<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <loops>
        <loop class="DatabasesManager\Loop\DatabasesManagerLoop" name="databases.manager.loop" />
    </loops>

    <forms>
        <form name="databases.manager.form.add" class="DatabasesManager\Form\DatabaseConfigurationAddForm" />
        <form name="databases.manager.form.edit" class="DatabasesManager\Form\DatabaseConfigurationEditForm" />
    </forms>

    <services>
        <service id="databases.manager.config.handler" class="DatabasesManager\Handler\ConfigurationHandler" />
        <service id="databases.manager.kernel.listener" class="DatabasesManager\EventListener\KernelListener">
            <argument type="service" id="databases.manager.config.handler"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

    <commands>
        <command class="DatabasesManager\Command\DatabasesManagerGenerateModelCommand" />
        <command class="DatabasesManager\Command\DatabasesManagerGenerateSqlCommand" />
        <command class="DatabasesManager\Command\DatabasesManagerSchemaRecovery" />
    </commands>
</config>
